{% extends 'pantryapp/base.html' %}

{% block content %}
<div id='login_div'>
    <h3>Login</h3>
    <form action="{% url 'userapp:login_user' %}" method="post">
        {% csrf_token %}
        <div class="input-field inline" id="login_div">
            <input type="text" name="username" placeholder="username" required />
            <input type="password" name="password" placeholder="password" required />

            <button class="btn">Login</button>
            <br>
            <a class='btn' href="{% url 'userapp:registration_page' %}" class="brand-logo">register</a>
        </div>
    </form>
</div>
{% endblock %}
